*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #e1e1e1;
    /*background-image: url(../imagenes/d1.jpg);*/
    margin: 0%;
    /*background-size: cover;*/
    /*background-repeat: repeat-y;*/
}

#slider{
    padding: 100px;
}